.shoe_result
  %table
    %tr.shoe_result_row
      %td.shoe_result_label Brand
      %td.shoe_result_value
        %a{:href => "/brands/#{shoe.brand_name}"}
          = shoe.brand_name
    %tr.shoe_result_row
      %td.shoe_result_label Name
      %td.shoe_result_value
        = shoe.name
    %tr.shoe_result_row
      %td.shoe_result_label Price
      %td.shoe_result_value
        = shoe.price
    %tr.shoe_result_row
      %td.shoe_result_label Description
      %td.shoe_result_value
        = shoe.description
    %tr.shoe_result_row
      %td.shoe_result_label Release Month
      %td.shoe_result_value
        %a{:href => "/months/#{shoe.release_month.downcase}"}
          = shoe.release_month
    %tr.shoe_result_row
      %td{:colspan => 2}
        %img{:src => "#{shoe.image_path}", :alt => ''}
    - if Date::MONTHNAMES.index(shoe.release_month) > Time.new.month
      %tr.shoe_result_row
        %td{:colspan => 2}
          %form{:method => 'post', :action => '/available', :id => 'notification_email_form'}
            %label Notify me when this shoe is available
            %input{:type => 'text', :name => 'email', :placeholder => 'Email Address', :id => 'notification_email_input'}
            %input{:type => 'submit'}