.title
  %h2 Open Issues

%table.issues_table
  %tr.issues_header_row
    %th
    %th Title
    %th Severity
    %th Description
  - @issues.each do |issue|
    %tr.issue_row{:id => "issue_#{issue.id}"}
      %td.issue_id= issue.id
      %td.issue_title= issue.title
      %td.issue_severity= issue.severity
      %td.issue_description= issue.description