!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %title== Shoe Store: #{@title}
    %link{:rel => 'stylesheet', :href => '/css/journal.bootstrap.min.css'}
    %link{:rel => 'stylesheet', :href => '/stylesheet.css'}
  %body
    %div.navbar.navbar-default
      %div.navbar-header{:id => 'home_link_div'}
        %button.navbar-toggle{type: 'button',data: { toggle: 'collapse', target: '.navbar-responsive-collapse' } }
        %a.navbar-brand{:href => '/'} Home
    %header#header
      #header_nav.navbar.navbar-inverse
        %nav.navbar-collapse.collapse.navbar-inverse-collapse
          %ul.nav.navbar-nav
            - @month_names.each do |month|
              %li
                %a{:href => "/months/#{month.downcase}"} #{month.capitalize}
            %li
              %a{:href => '/shoes'} All Shoes
      %form#remind_email_form{:method => 'post', :action => '/remind'}
        .left
          %label{ for: 'remind_email_input' } Remind me of new shoes
          %input#remind_email_input{:type => 'text', :name => 'email', :placeholder => 'Email Address'}
          %input{:type => 'submit'}
      %form#promo_code_form{:method => 'post', :action => '/promo'}
        .right
          %label Promotional Code
          %input{:type => 'text', :name => 'promo_code', :id => 'promo_code_input'}
          %input{:type => 'submit'}
    %br
    %br
    %br
    %br
    .left
      %a{:href => '/issues/new'} Report An Issue
      &nbsp;&nbsp;|&nbsp;&nbsp;
      %a{:href => '/issues'} Issues
    .right
      %a{:href => '/definition'} Problem Definition
    %br
    %br
    = styled_flash
    - unless @message.nil?
      %p.message= @message
    %hr
    %br
    = yield
