!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %title== Shoe Store: #{@title}
    %link{:rel => 'stylesheet', :href => '/css/journal.bootstrap.min.css'}
    %link{:rel => 'stylesheet', :href => '/stylesheet.css'}
  %body
    %div.navbar.navbar-default
      %div.navbar-header{:id => 'home_link_div'}
        %button.navbar-toggle{type: 'button',data: { toggle: 'collapse', target: '.navbar-responsive-collapse' } }
        %a.navbar-brand{:href => '/'} Home
    %header#header.container-fluid
      #header_nav.navbar.navbar-inverse
        %nav.navbar-collapse.collapse.navbar-inverse-collapse
          %ul.nav.navbar-nav
            - @month_names.each do |month|
              %li
                %a{:href => "/months/#{month.downcase}"} #{month.capitalize}
            %li
              %a{:href => '/shoes'} All Shoes
      .col-md-6
        %form#remind_email_form{:method => 'post', :action => '/remind'}
          %label{ for: 'remind_email_input' } Remind me of new shoes
          %input#remind_email_input{:type => 'text', :name => 'email', :placeholder => 'Email Address'}
          %input{:type => 'submit'}
      .col-md-6.text-right
        %form#promo_code_form{:method => 'post', :action => '/promo'}
          %label{ for: 'promo_code_input' } Promotional Code
          %input#promo_code_input{:type => 'text', :name => 'promo_code'}
          %input{:type => 'submit'}
      .col-md-12
        .col-md-6
          %a{:href => '/issues/new'} Report An Issue
          |
          %a{:href => '/issues'} Issues
        .col-md-6.text-right
          %a.text-right{:href => '/definition'} Problem Definition
      .col-md-4.col-md-offset-4
        = styled_flash
        - unless @message.nil?
          %button.close{type: 'button', data: { dismiss: 'alert' }} ×
          %strong.message= @message
    %hr
    = yield

    %footer