%h2 New Releases for #{@title}

- unless @message.nil?
  %p= @message

%ul#shoe_list
  - @shoes.each do |s|
    %li{:id => "#{@brand.name}_#{s.name}" }
      %p= "#{s.name} => #{s.release_month}, #{s.description}"